@import url(https://fonts.googleapis.com/css?family=Inter:300,400,600,700);
@import './variables.scss';

// Styles
body {
  margin: 0;
  height: 100%;
  font-family: $primary-font;
  color: $primary-color;
  background-color: $secondary-color;
}

#app{
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 67px; /* height of your footer */
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container{
    padding: 0 36px;
  }
}


// Importing all the scss files at the END
@import "./imports.scss";
